/*
 * This file defines @font-face rules to make the various standard
 * Bedstead fonts available in CSS.
 */

@font-face {
    font-family: Bedstead;
    font-stretch: expanded;
    font-weight: 500;
    src: url(bedstead-extended.otf) format("opentype");
}

@font-face {
    font-family: Bedstead;
    font-stretch: normal;
    font-weight: 500;
    src: url(bedstead.otf) format("opentype");
}

@font-face {
    font-family: Bedstead;
    font-stretch: semi-condensed;
    font-weight: 500;
    src: url(bedstead-semicondensed.otf) format("opentype");
}

@font-face {
    font-family: Bedstead;
    font-stretch: condensed;
    font-weight: 500;
    src: url(bedstead-condensed.otf) format("opentype");
}

@font-face {
    font-family: Bedstead;
    font-stretch: extra-condensed;
    font-weight: 500;
    src: url(bedstead-extracondensed.otf) format("opentype");
}

@font-face {
    font-family: Bedstead;
    font-stretch: ultra-condensed;
    font-weight: 500;
    src: url(bedstead-ultracondensed.otf) format("opentype");
}

@font-face {
    font-family: Bedstead;
    font-stretch: expanded;
    font-weight: 700;
    src: url(bedstead-boldextended.otf) format("opentype");
}

@font-face {
    font-family: Bedstead;
    font-stretch: normal;
    font-weight: 700;
    src: url(bedstead-bold.otf) format("opentype");
}

@font-face {
    font-family: Bedstead;
    font-stretch: semi-condensed;
    font-weight: 700;
    src: url(bedstead-boldsemicondensed.otf) format("opentype");
}

@font-face {
    font-family: Bedstead;
    font-stretch: condensed;
    font-weight: 700;
    src: url(bedstead-boldcondensed.otf) format("opentype");
}

@font-face {
    font-family: Bedstead;
    font-stretch: extra-condensed;
    font-weight: 700;
    src: url(bedstead-boldextracondensed.otf) format("opentype");
}

@font-face {
    font-family: Bedstead;
    font-stretch: ultra-condensed;
    font-weight: 700;
    src: url(bedstead-boldultracondensed.otf) format("opentype");
}
